
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h2>@ViewBag.namemovie</h2>
    <ul>
        <li>Genre: @ViewBag.movieGenre</li>
        <li>Release Date: @ViewBag.movieReleaseDate </li>
        <li>Date Added: @ViewBag.movieAddedDate</li>
        <li>Number in Stock: @ViewBag.movieinstock</li>
    </ul>
    <hr />
   
</div>

